/* Personnalisation légère du thème */
.quarto-about-jolla .about-image {
  border-radius: 20%;
}
.reveal .slides section {
  padding: 0;
}
.reveal h2 {
  margin-top: 0;
  font-family: 'Georgia', serif;
}
.reveal .columns {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.puces-espacees li {
  margin-bottom: 100px;
}
